#logo{
	font-size: 1.5rem;
	font-weight: 600;
}

#menu{
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 1.2rem;
}

#chicken, #beef, #sushi{
	font-size: 1.1rem;
	font-weight: 500;
	margin-top: 1.1rem;
}

.content{
	background-color: rgb(177, 174, 174);
	margin-top: 1.2rem;
}

.back{
	text-decoration: none;
	color: black;
}

.back:hover{
	text-decoration: none;
	color: white;
}
